<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" media="screen and (max-width: 560px)" href="../css/mobile.css">
    <link rel="stylesheet" media="screen and (max-width: 1100px and min-width: 600pz)" href="../css/widescreen.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/68ccc1d15e.js" crossorigin="anonymous"></script>
    <title>TSP Bank | Banking Page</title>
</head>

<body>
    <nav id="navbar">
        <h1 class="logo">
            <span class="text-primary">
                <i class="fas fa-rupee-sign rupee"></i>TSP
            </span>Bank
        </h1>
        <ul class="navbar-links">
            <li class="navbar-link"><a href="/">Go to Home</a></li>
            <li class="navbar-link"><a href="/transfer">Transfer Money</a></li>
            <li class="navbar-link"><a href="/customers">Customers</a></li>
        </ul>
    </nav>