<%- include("partials/header") -%>

<header id="showcase">
    <div class="showcase-content">
        <h1 class="l-heading">
            The Sparks Bank
        </h1>
        <p class="lead">
            Good banking is produced not by good laws ,but by the good bankers
        </p>
        <a href="/customers" class="btn">Welcome</a>
    </div>
</header>

<%- include("partials/footer") -%>